@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';
* {
    margin: 0;
}
body {
    font-family: Montserrat;
    color: rgb(220,220,220);
    box-sizing: border-box;
}
#main-container {
    display: flex;
    height: 100vh;
}
#left-pane {
    width: 400px;
    background-color: rgb(30,30,30);
    padding: 20px;
}
#right-pane {
    width: 100%;
    background-color: rgb(45,45,45);
    padding: 30px;
}
#input-project-title {
    width: 60%;
}
#task-header {
    width: 100%;
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: solid rgb(90,90,90) 1px;
}
#task-header-flex {
    display: flex;
}
#task-header-text, #project-header {
    font-weight: lighter;
    margin-bottom: 15px;
}
#task-header, #project-description {
    display: none;
}
#task-header-text {
    width: 600px;
}
#task-header-text::before {
    content: 'access_time';
    font-family: 'Material Icons';
    vertical-align: -15%;
    margin-right: 20px;
}
#project-timetable {
    color: rgb(150,150,150);
}
button {
    color: rgb(150,150,150);
    text-align: center;
    padding: 0;
    margin-right: 5px;
    margin-left: 5px;
    background-color: inherit;
    border: none;
}
#add-project-button {
    float: right;
}
#add-task-button {
    display: none;
    float: left;
}
#task-button-description{
    display: none;
    color: rgb(140,140,140);
    font-weight: lighter;
    font-size: 0.9em;
}
form {
    display: none;
}
ul{
    list-style-type: none;
    padding: 0;
}
#task-list > li {
    line-height: 2em;
}
#task-list > li::before {
    content: 'panorama_fish_eye';
    font-family: 'Material Icons';            
    font-size: 20px;
    vertical-align: -15%;
    margin-right: 10px;
    margin-left: 0;
    color: rgb(130, 130, 130);
}
#project-list, button {
    cursor: pointer;
}
#project-list > li::before {
    content: 'arrow_right';
    font-family: 'Material Icons';            
    font-size: 25px;
    vertical-align: -20%;
}

.p {
    width: 100%;
}
.right-align {
    float: right;
}