@import 'https://fonts.googleapis.com/css?family=Montserrat:300,500|Roboto:300,400';
* {
    margin: 0;
}
body {
    font-family: 'Roboto',Verdana;
    font-size: 15px;
    font-weight: 400;
    color: rgb(220,220,220);
    box-sizing: border-box;
}

#main-container {
    display: flex;
    height: 100vh;
}
#left-pane {
    width: 300px;
    background-color: rgb(30,30,30);
    padding: 20px;
}
#project-list {
    width: 250px;
}
#project-list li>i {
    display: inline;
    font-size: 16px;
    padding-top: 6px;
    margin-left: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}
#project-list span + i {
    padding-left: 15px;
}
#project-list i + i {
    padding-right: 15px;
}
#project-list i:hover {
    opacity: 100%;
}
#project-list span:hover ~ i {
    opacity: 50%;
}
#right-pane {
    width: 100%;
    background-color: rgb(45,45,45);
}
#right-pane>header, #right-pane>main {
    max-width: 700px;
    width: 90%;
    margin: 0 auto 2em auto;
}
#input-project-title {
    width: 60%;
}
#task-header {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 4em;
    border-bottom: solid rgb(90,90,90) 1px;
}
#task-header-flex {
    display: flex;
}
#task-header-text, #project-header {
    font-family: Montserrat;
    font-weight: 400;
    margin-bottom: 15px;
    color:white;
}
#task-header, #project-description {
    display: none;
}
#task-header-text {
    width: 600px;
}
#task-header-text::before {
    content: 'access_time';
    font-family: 'Material Icons';
    vertical-align: -15%;
    margin-right: 20px;
}
#project-description {
    font-size: 15px;
}
#project-timetable {
    color: rgb(150,150,150);
    font-size: 14px;
}
#task-header i {
    font-size: 16px;
    float: right;
}
.task-description {
    padding-left: 30px;
    font-size: 13px;
    font-weight: 300;
    line-height: 1em;
    padding-bottom: 1em;
}
button {
    color: rgb(150,150,150);
    text-align: center;
    padding: 0;
    margin-right: 5px;
    margin-left: 5px;
    background-color: inherit;
    border: none;
}
#add-project-button {
    float: right;
}
#add-task-button {
    display: none;
    float: left;
}
#task-button-description{
    display: none;
    color: rgb(140,140,140);
    font-weight: lighter;
    font-size: 0.9em;
}
form {
    display: none;
}
ul{
    list-style-type: none;
    padding: 0;
}
#task-list > li {
    line-height: 2em;
}
#task-list > li::before {
    content: 'panorama_fish_eye';
    font-family: 'Material Icons';            
    font-size: 20px;
    vertical-align: -15%;
    margin-right: 10px;
    margin-left: 0;
    color: rgb(130, 130, 130);
}
#project-list, button {
    cursor: pointer;
}
#project-list > li::before {
    content: 'arrow_right';
    font-family: 'Material Icons';            
    font-size: 25px;
    vertical-align: -20%;
}

.p {
    width: 100%;
}
.right-align {
    float: right;
}